<div class="page-filters">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="titulo" translate="family.code.label"></label>
            <arte-input
                name="code"
                [attr.aria-label]="'family.code.placeholder' | translate"
                [placeholder]="'family.code.placeholder'"
                [(ngModel)]="filters.code"
                (keyup)="filter()"
            ></arte-input>
        </div>
        <div class="form-group col-md-6">
            <label for="titulo" translate="family.title.label"></label>
            <arte-input
                name="title"
                [attr.aria-label]="'family.title.placeholder' | translate"
                [placeholder]="'family.title.placeholder'"
                [(ngModel)]="filters.title"
                (keyup)="filter()"
            ></arte-input>
        </div>
    </div>

    <div class="page-filters-btns">
        <button class="btn btn-default" (click)="resetFilters();">
            <i class="fa fa-times"></i>
            <span translate="entity.action.filtersReset"></span>
        </button>
    </div>
</div>
