<arte-table
    [columns]="filterTableColumns"
    [value]="filters"
    [rows]="itemsPerPage"
    [totalRecords]="filterAmount"
    tableStyleClass="page-table table-has-pointer-rows"
    (onLazyLoad)="loadData($event)"
>
    <ng-template pTemplate="body" let-filter>
        <tr [routerLink]="['/filter', filter.id]">
            <td>{{filter.name}}</td>
            <td><a href="{{getVisualizerPath() + filter.permalink}}" target="_blan">{{getVisualizerPath() + filter.permalink}}</a></td>
            <td>{{filter.lastAccessDate}}</td>
        </tr>
    </ng-template>
</arte-table>
