<div class="modal-header">
    <p class="modal-title" id="myActorLabel">
        <span class="mr-3">
            <i class="fa"></i>
        </span>
        <strong><span translate="entity.action.about"></span></strong>
    </p>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body">
    <div>
        <p><span translate="global.version"></span> : {{version}}</p>
    </div>
</div>
<div class="modal-footer"></div>
