<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gestor de usuarios externos de EDatos</title>
  <base href="/" th:href="@{/}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" th:href="${faviconUrl}">
  <link rel="manifest" href="manifest.webmanifest">
</head>
<body>
  <script th:inline="javascript">
    /*<![CDATA[*/
    window.CONFIGURATION = {};

    window.CONFIGURATION.endpoint = {};
    window.CONFIGURATION.endpoint.appUrl = /*[[${endpoint.getAppUrl()}]]*/ 'http://localhost:4200';

    window.CONFIGURATION.cas = {};
    window.CONFIGURATION.cas.login = /*[[${@metadataProperties.metamacCasLoginUrl}]]*/ 'https://estadisticas.arte-consultores.com/authentication-service-internal/login';
    window.CONFIGURATION.cas.logout = /*[[${@metadataProperties.metamacCasLogoutUrl}]]*/ 'https://estadisticas.arte-consultores.com/authentication-service-internal/logout';
    window.CONFIGURATION.cas.service = /*[[${cas.service}]]*/ 'http://localhost:4200/login/cas';

    window.CONFIGURATION.metadata = {}
    window.CONFIGURATION.metadata.navbarScriptUrl = /*[[${@metadataProperties.metamacNavbar}]]*/ '//estadisticas.arte-consultores.com/navigation-bar-internal/';
    window.CONFIGURATION.metadata.defaultLanguage = /*[[${@metadataProperties.defaultLanguage}]]*/ 'es';
    /*]]>*/
  </script>
  <app-root></app-root>
</body>
</html>
