.language-input-list {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .single-language-input {
        display: inline-grid;
        grid-template-columns: minmax(5em, 1fr) 0.3fr 11fr;
        grid-column-gap: 0.5em;
        align-items: center;

        label {
            margin: 0;
            justify-self: right;
            align-self: center;
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: bold;
            letter-spacing: 0.05em;
        }
        img {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            justify-self: center;
            margin-bottom: -0.1em;
        }
        input {
            margin-left: 1em;
            width: 100%;
            &:focus {
                box-shadow: none;
            }
        }
    }
}
