.language-input-list,
.single-language-input,
input {
    width: 100%;
}

.language-input-list {
    display: table;
    border-collapse: collapse;
}

.single-language-input {
    display: table-row;
    border-bottom: 10px solid transparent;
}

input,
label {
    display: table-cell;
}

label {
    padding-right: 10px;
    text-align: end;
    font-weight: bold;
}

.readonly-input {
    border: none;
}

.readonly-input:focus-visible {
    outline: none;
}
