<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Usuarios externos</title>
        <base href="/" th:href="@{/}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" th:href="${faviconUrl}" />
        <link rel="manifest" href="manifest.webmanifest" />
    </head>
    <body>
        <div th:utext="${headerHtml}"></div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            window.CONFIGURATION = {};

            window.CONFIGURATION.metamac = {};

            // TODO-3338 it is pending to add the property in the database
            window.CONFIGURATION.metamac.visualizerPath = 'https://estadisticas.arte-consultores.com/istac/visualizer/data.html?permalink=';

            window.CONFIGURATION.endpoint = {};
            window.CONFIGURATION.endpoint.appUrl = /*[[${endpoint.getAppUrl()}]]*/ 'http://localhost:4200';

            window.CONFIGURATION.metadata = {};
            window.CONFIGURATION.metadata.defaultLanguage = /*[[${@metadataProperties.defaultLanguage}]]*/ 'es';
            /*]]>*/
        </script>

        <app-root></app-root>
        <div th:utext="${footerHtml}"></div>
    </body>
</html>
