<nav class="navbar navbar-dark navbar-expand-lg">
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()"
    >
        <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
        <ul *ngIf="isCorrectlyLogged" class="navbar-nav ml-auto">
            <li>
                <a class="nav-link btn" routerLink="filter" routerLinkActive="active">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                    <span translate="filter.home.title"></span>
                </a>
            </li>
            <li>
                <a class="nav-link btn" routerLink="favorite" routerLinkActive="active">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span translate="favorite.home.title"></span>
                </a>
            </li>
            <li *ngIf="isCorrectlyLogged" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a class="nav-link dropdown-toggle btn" ngbDropdownToggle id="info-menu">
                    <span>
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="/issues-new" routerLinkActive="active">
                            <i class="fa fa-fw fa-bullhorn" aria-hidden="true"></i>
                            <span translate="issues.home.titleMenu"></span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/data-protection-policy" routerLinkActive="active">
                            <i class="fa fa-fw fa-file" aria-hidden="true"></i>
                            <span translate="entity.action.data-protection-policy"></span>
                        </a>
                    </li>
                    <hr />
                    <li>
                        <a class="dropdown-item dialog-btn-pointer" (click)="openAboutDialog()" routerLinkActive="active">
                            <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
                            <span translate="entity.action.about"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *ngIf="isCorrectlyLogged" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a class="nav-link dropdown-toggle btn" ngbDropdownToggle id="user-menu">
                    <span>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="account-management" routerLinkActive="active">
                            <i class="fa" aria-hidden="true"></i>
                            <span translate="global.menu.account.myAccount"></span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="change-password" routerLinkActive="active">
                            <i class="fa" aria-hidden="true"></i>
                            <span translate="entity.action.change-password"></span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item dialog-btn-pointer" (click)="openDeleteDialog()" routerLinkActive="active">
                            <i class="fa" aria-hidden="true"></i>
                            <span translate="entity.action.unsubscribe"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li></li>

            <li>
                <a class="nav-link btn" (click)="logout()" id="logout" [title]="'global.menu.account.logout' | translate">
                    <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
