<p-tree
    (onNodeSelect)="onSelect($event.node)"
    (onNodeUnselect)="onUnselect($event.node)"
    [(selection)]="selectedResources"
    [value]="resources"
    [selectionMode]="selectionMode"
    [emptyMessage]="'structuralResourcesTree.noRecordsFound' | translate"
    [draggableNodes]="true"
    [droppableNodes]="true"
    [loading]="!resources"
>
    <ng-template *ngIf="mode === 'view'" let-node pTemplate="default">
        <span class="label">{{node.label}}</span>&nbsp;
        <span class="subscribed-users">({{'structuralResourcesTree.subscribedUsers' | translate:{ amount: node.data.subscribers || 0 } }})</span>
    </ng-template>
</p-tree>
