:host ::ng-deep .ui-tree {
    .ui-tree-container {
        padding-left: 1.2em;

        .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
            color: inherit;
            background-color: inherit;
        }

        .ui-treenode .ui-treenode-content .ui-tree-toggler {
            margin-left: -1.125em;
        }

        .ui-treenode .ui-treenode-content:hover .node-btn-sm {
            display: inline-flex;
            align-items: center;
        }
    }

    .ui-inputtext {
        padding: 0;
        background: none;
        float: none;
        width: auto;
        height: 100%;
    }

    .node-btn-sm {
        display: none;
        padding: 0.1rem 0.3rem;
        font-size: 0.7rem;
        line-height: 1.2;
        border-radius: 0.2rem;

        .fa {
            margin-right: 0;
        }
    }

    // see https://css-tricks.com/auto-growing-inputs-textareas/
    .input-sizer {
        display: inline-grid;
        vertical-align: top;
        align-items: center;
        position: relative;
        margin: 0;
        min-width: 1em;

        &::after,
        input {
            width: auto;
            min-width: 1em;
            grid-area: 1 / 2;
            font: inherit;
            resize: none;
            background: none;
            appearance: none;
            border: none;
            overflow-x: visible;
            border-bottom: 1px solid grey;
            margin-bottom: -1px;
        }

        &::after {
            content: ' ' attr(data-value) '  ';
            visibility: hidden;
            white-space: pre-wrap;
        }

        input:focus {
            box-shadow: none;
        }
    }
}

@mixin grey {
    color: #a5a5a5;
}

.subscribed-users,
.untitled-node {
    @include grey;
}
