<p *ngIf="mode === 'edit'" class="text-secondary">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    {{'structuralResourcesTree.helpMessage' | translate}}.
</p>

<p-tree
    (onNodeSelect)="onSelect($event.node)"
    (onNodeUnselect)="onUnselect($event.node)"
    [(selection)]="selectedResources"
    [value]="resources"
    [selectionMode]="selectionMode"
    [emptyMessage]="'structuralResourcesTree.noRecordsFound' | translate"
    [draggableNodes]="enableDragAndDrop"
    [droppableNodes]="enableDragAndDrop"
    [loading]="!resources"
>
    <ng-template *ngIf="mode === 'view'" let-node pTemplate="default">
        <span class="label">{{node.label}}</span>&nbsp;
        <span class="subscribed-users">({{'structuralResourcesTree.subscribedUsers' | translate:{amount: node.data.subscribers || 0} }})</span>
    </ng-template>
    <ng-template *ngIf="mode === 'edit'" let-node pTemplate="default">
        <span class="label mr-2" (dblclick)="enableNodeEdit(node)">{{node.label}}</span>
        <p-dialog
            *ngIf="node.edit"
            [(visible)]="node.edit"
            [focusOnShow]="true"
            [modal]="true"
            [dismissableMask]="true"
            [header]="'structuralResourcesTree.editionModal' | translate"
            [style]="{width: '50vw'}"
            [resizable]="false"
            appendTo="body"
            (visibleChange)="disableNodeEdit(node)"
        >
            <app-multi-language-input
                *ngIf="(allowedLanguages | async) as locales"
                [ngModel]="node.data.name"
                [locales]="locales"
                (onEnterKeyDown)="saveNodeName(node, $event)"
            ></app-multi-language-input>
        </p-dialog>
        <button type="button" class="btn btn-primary node-btn-sm mr-2" (click)="addNode(node)">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-danger node-btn-sm" (click)="deleteNode(node)">
            <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
    </ng-template>
</p-tree>
