:host ::ng-deep .ui-tree {
    .ui-tree-container {
        padding-left: 1.2em;
    }

    .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
        color: inherit;
        background-color: inherit;
    }

    .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler {
        margin-left: -1.125em;
    }
}
