<div class="page-filters">
    <div class="form-row">
        <div class="form-group col-md-5">
            <arte-input
                (keyup)="filter()"
                [(ngModel)]="filters.name"
                [attr.aria-label]="'filter.search.name' | translate"
                name="filterNameSearch"
                [placeholder]="'filter.search.placeholderForFilterNameSearch'"
            ></arte-input>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label translate="filter.search.name"></label>
            <arte-input
                (keyup)="filter()"
                [(ngModel)]="filters.user"
                [attr.aria-label]="'filter.search.name' | translate"
                name="filterUserSearch"
                [placeholder]="'filter.search.placeholderForUserSearch'"
            ></arte-input>
        </div>
        <div class="form-group col-md-3 ac-ui-unfluid">
            <label translate="filter.search.includeFromDeactivatedUsers"></label>
            <div>
                <arte-tri-input-switch (onChange)="filter()" [(ngModel)]="filters.includeFromDeletedUsers"
                                       [required]="true"></arte-tri-input-switch>
            </div>
        </div>
    </div>
    <div class="page-filters-btns">
        <button (click)="resetFilters()" class="btn">
            <em class="btn-icon fa fa-times"></em>
            <span translate="entity.action.filtersReset"></span>
        </button>
    </div>
</div>
