<div class="page" *ngIf="externalUser">
    <div class="page-header page-header-top">
        <button
            *ngIf="!inEditMode"
            type="button"
            routerLink="/external-users"
            class="btn btn-secondary btn-frameless back-arrow"
            [attr.aria-label]="'entity.action.back' | translate"
        >
            <i class="material-icons">arrow_back</i>
        </button>
        <h2 class="page-header-title">
            <span class="page-header-title-icon">
                <i class="fa fa-fw fa-user" aria-hidden="true"></i>
            </span>
            <div class="page-header-title-text">
                <span *ngIf="!externalUser.id" translate="externalUser.home.createLabel"></span>
                <span *ngIf="externalUser.id" [title]="externalUser.getFullName()">{{externalUser.getFullName()}}</span>
            </div>
        </h2>
        <div class="page-header-btns">
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button *ngIf="inEditMode" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" form="edit-form" type="submit">
                    <span class="fa fa-floppy-o"></span>
                    <span translate="entity.action.save"></span>
                </button>
            </ng-container>
            <ng-container>
                <button (click)="cancel()" *ngIf="inEditMode" class="btn btn-secondary" data-dismiss="modal" type="button">
                    <span class="fa fa-ban"></span>
                    <span translate="entity.action.cancel"></span>
                </button>
            </ng-container>
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button (click)="restore()" *ngIf="!inEditMode && externalUser.deletionDate" class="btn btn-warning" type="button">
                    <span class="fa fa-undo"></span>
                    <span translate="entity.action.restore"></span>
                </button>
            </ng-container>
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button (click)="delete()" *ngIf="!inEditMode && !externalUser.deletionDate" class="btn btn-danger" type="button">
                    <span class="fa fa-remove"></span>
                    <span translate="entity.action.deactivate"></span>
                </button>
            </ng-container>
        </div>
    </div>

    <div class="page-body">
        <div class="page-header-btns float-right button-edit">
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button (click)="edit()" *ngIf="!inEditMode && !externalUser.deletionDate" class="btn btn-secondary" type="button">
                    <span class="fa fa-pencil"></span>
                    <span translate="entity.action.edit"></span>
                </button>
            </ng-container>
        </div>
        <form class="page-form" id="edit-form" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" autocomplete="off">
            <fieldset [disabled]="!inEditMode" arteAutofocus class="page-section">
                <div class="d-flex align-items-baseline flex-column mb-3">
                    <h3 class="mt-2 mb-0" translate="externalUser.personalData"></h3>
                    <small class="text-muted">{{'externalUser.createdDate' | translate}}: {{externalUser.createdDate | date: 'd/M/yyyy, H:mm:ss' }}</small>
                </div>
                <div class="row">
                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.name"></label>
                            <div class="col-md-8">
                                <arte-input name="nombre" [(ngModel)]="externalUser.name" [maxlength]="255"></arte-input>
                            </div>
                        </div>

                        <div *ngIf="editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid" class="entity-field-error">
                            <small
                                class="form-text text-danger"
                                *ngIf="editForm.controls.nombre?.errors.maxlength"
                                translate="entity.validation.maxlength"
                                [translateParams]="{ max: 255 }"
                            >
                            </small>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.surname1"></label>
                            <div class="col-md-8">
                                <arte-input name="surname1" [(ngModel)]="externalUser.surname1" [maxlength]="255"></arte-input>
                            </div>
                        </div>

                        <div *ngIf="editForm.controls.surname1?.dirty && editForm.controls.surname1?.invalid" class="entity-field-error">
                            <small
                                class="form-text text-danger"
                                *ngIf="editForm.controls.surname1?.errors.maxlength"
                                translate="entity.validation.maxlength"
                                [translateParams]="{ max: 255 }"
                            >
                            </small>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.surname2"></label>
                            <div class="col-md-8">
                                <arte-input name="surname2" [(ngModel)]="externalUser.surname2" [maxlength]="255"></arte-input>
                            </div>
                        </div>

                        <div *ngIf="editForm.controls.surname2?.dirty && editForm.controls.surname2?.invalid" class="entity-field-error">
                            <small
                                class="form-text text-danger"
                                *ngIf="editForm.controls.surname2?.errors.maxlength"
                                translate="entity.validation.maxlength"
                                [translateParams]="{ max: 255 }"
                            >
                            </small>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.treatment"></label>
                            <div class="col-md-8">
                                <arte-autocomplete-enum
                                    name="treatment"
                                    [multiple]="false"
                                    [(ngModel)]="externalUser.treatment"
                                    [suggestionsEnum]="treatmentEnum"
                                    [translationPath]="'externalUser.treatmentEnum.'"
                                    [disabled]="!inEditMode"
                                    required
                                >
                                </arte-autocomplete-enum>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.language"></label>
                            <div class="col-md-8">
                                <arte-autocomplete-enum
                                    name="language"
                                    [multiple]="false"
                                    [(ngModel)]="externalUser.language"
                                    [suggestionsEnum]="languageEnum"
                                    [translationPath]="'externalUser.languageEnum.'"
                                    [disabled]="!inEditMode"
                                    required
                                >
                                </arte-autocomplete-enum>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.email"></label>
                            <div class="col-md-8">
                                <arte-input name="email" [(ngModel)]="externalUser.email" [required]="true" [minlength]="3" [maxlength]="255" [email]="true"></arte-input>
                            </div>
                        </div>
                        <div *ngIf="(editForm.controls.email?.touched || editForm.controls.email?.dirty) && editForm.controls.email?.invalid" class="entity-field-error">
                            <small class="form-text text-danger" *ngIf="editForm.controls.email?.errors.required" translate="entity.validation.required"> </small>
                            <ng-container *ngIf="editForm.controls.email?.dirty">
                                <small
                                    class="form-text text-danger"
                                    *ngIf="editForm.controls.email?.errors.maxlength"
                                    translate="entity.validation.maxlength"
                                    [translateParams]="{ max: 255 }"
                                >
                                </small>
                                <small
                                    class="form-text text-danger"
                                    *ngIf="editForm.controls.email?.errors.minlength"
                                    translate="entity.validation.minlength"
                                    [translateParams]="{ requiredLength: 3}"
                                >
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.controls.email?.errors.email" translate="global.messages.validate.email.invalid"> </small>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.enableEmailNotifications"></label>
                            <div class="col-md-8">
                                <arte-tri-input-switch
                                    [(ngModel)]="externalUser.emailNotificationsEnabled"
                                    [disabled]="!inEditMode"
                                    [required]="true"
                                    name="emailNotificationsEnabled"
                                ></arte-tri-input-switch>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <fieldset *ngIf="userId && !inEditMode" arteAutofocus class="page-section">
            <div class="page-header-btns float-right" *ngIf="!inEditMode">
                <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                    <button (click)="editTree()" *ngIf="!inEditTreeMode && !externalUser.deletionDate" class="btn btn-secondary" type="button">
                        <span class="fa fa-pencil"></span>
                        <span translate="entity.action.edit"></span>
                    </button>
                </ng-container>
                <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                    <button (click)="saveTree()" *ngIf="inEditTreeMode" [disabled]="!inEditTreeMode" class="btn btn-primary btn-save" type="button">
                        <span class="fa fa-floppy-o"></span>
                        <span translate="entity.action.save"></span>
                    </button>
                </ng-container>
            </div>
            <h3 class="button-tree" translate="externalUser.home.favorites"></h3>
            <app-structural-resources-tree
                [disabled]="disabledEditTree()"
                (onResourceSelect)="saveFavorite($event)"
                (onResourceUnselect)="deleteFavorite($event)"
                [favorites]="favorites"
            ></app-structural-resources-tree>
        </fieldset>
        <div *ngIf="userId && !inEditMode" class="page-section">
            <div class="d-flex align-items-baseline justify-content-between">
                <h3 class="mt-3" translate="externalUser.home.filters"></h3>
            </div>
            <app-filter-table [userId]="userId"></app-filter-table>
        </div>
    </div>
</div>
