<div class="page" *ngIf="externalUser">
    <div class="page-header page-header-top">
        <button
            *ngIf="!isEditMode()"
            type="button"
            routerLink="/external-users"
            class="btn btn-secondary btn-frameless back-arrow"
            [attr.aria-label]="'entity.action.back' | translate"
        >
            <i class="material-icons">arrow_back</i>
        </button>
        <h2 class="page-header-title">
            <span class="page-header-title-icon">
                <i class="fa fa-fw fa-user" aria-hidden="true"></i>
            </span>
            <div class="page-header-title-text">
                <span *ngIf="!externalUser.id" translate="externalUser.home.createLabel"></span>
                <span *ngIf="externalUser.id" [title]="externalUser.getFullName()">{{externalUser.getFullName()}}</span>
            </div>
        </h2>
        <div class="page-header-btns">
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button *ngIf="!isEditMode() && !externalUser.deletionDate" class="btn btn-secondary" [routerLink]="['edit']" type="button">
                    <span class="fa fa-pencil"></span>
                    <span translate="entity.action.edit"></span>
                </button>
            </ng-container>
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button *ngIf="isEditMode()" type="submit" form="edit-form" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-floppy-o"></span>
                    <span translate="entity.action.save"></span>
                </button>
            </ng-container>
            <ng-container>
                <button *ngIf="isEditMode()" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                    <span class="fa fa-ban"></span>
                    <span translate="entity.action.cancel"></span>
                </button>
            </ng-container>
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button *ngIf="!isEditMode() && externalUser.deletionDate" type="button" class="btn btn-warning" (click)="restore()">
                    <span class="fa fa-undo"></span>
                    <span translate="entity.action.restore"></span>
                </button>
            </ng-container>
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button *ngIf="!isEditMode() && !externalUser.deletionDate" type="button" class="btn btn-danger" (click)="delete()">
                    <span class="fa fa-remove"></span>
                    <span translate="entity.action.deactivate"></span>
                </button>
            </ng-container>
        </div>
    </div>

    <div class="page-body">
        <form class="page-form" id="edit-form" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" autocomplete="off">
            <fieldset class="page-section" [disabled]="!isEditMode()" arteAutofocus>
                <h3 translate="externalUser.personalData"></h3>
                <div class="row">
                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.name"></label>
                            <div class="col-md-8">
                                <arte-input name="nombre" [(ngModel)]="externalUser.name" [maxlength]="255"></arte-input>
                            </div>
                        </div>

                        <div *ngIf="editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid" class="entity-field-error">
                            <small
                                class="form-text text-danger"
                                *ngIf="editForm.controls.nombre?.errors.maxlength"
                                translate="entity.validation.maxlength"
                                [translateParams]="{ max: 255 }"
                            >
                            </small>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.surname1"></label>
                            <div class="col-md-8">
                                <arte-input name="surname1" [(ngModel)]="externalUser.surname1" [maxlength]="255"></arte-input>
                            </div>
                        </div>

                        <div *ngIf="editForm.controls.surname1?.dirty && editForm.controls.surname1?.invalid" class="entity-field-error">
                            <small
                                class="form-text text-danger"
                                *ngIf="editForm.controls.surname1?.errors.maxlength"
                                translate="entity.validation.maxlength"
                                [translateParams]="{ max: 255 }"
                            >
                            </small>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.surname2"></label>
                            <div class="col-md-8">
                                <arte-input name="surname2" [(ngModel)]="externalUser.surname2" [maxlength]="255"></arte-input>
                            </div>
                        </div>

                        <div *ngIf="editForm.controls.surname2?.dirty && editForm.controls.surname2?.invalid" class="entity-field-error">
                            <small
                                class="form-text text-danger"
                                *ngIf="editForm.controls.surname2?.errors.maxlength"
                                translate="entity.validation.maxlength"
                                [translateParams]="{ max: 255 }"
                            >
                            </small>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.treatment"></label>
                            <div class="col-md-8">
                                <arte-autocomplete-enum
                                    name="treatment"
                                    [multiple]="false"
                                    [(ngModel)]="externalUser.treatment"
                                    [suggestionsEnum]="treatmentEnum"
                                    [translationPath]="'externalUser.treatmentEnum.'"
                                    [disabled]="!isEditMode()"
                                    required
                                >
                                </arte-autocomplete-enum>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.language"></label>
                            <div class="col-md-8">
                                <arte-autocomplete-enum
                                    name="language"
                                    [multiple]="false"
                                    [(ngModel)]="externalUser.language"
                                    [suggestionsEnum]="languageEnum"
                                    [translationPath]="'externalUser.languageEnum.'"
                                    [disabled]="!isEditMode()"
                                    required
                                >
                                </arte-autocomplete-enum>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="col-form-label col-md-4" translate="externalUser.email"></label>
                            <div class="col-md-8">
                                <arte-input name="email" [(ngModel)]="externalUser.email" [required]="true" [minlength]="3" [maxlength]="255" [email]="true"></arte-input>
                            </div>
                        </div>
                        <div *ngIf="(editForm.controls.email?.touched || editForm.controls.email?.dirty) && editForm.controls.email?.invalid" class="entity-field-error">
                            <small class="form-text text-danger" *ngIf="editForm.controls.email?.errors.required" translate="entity.validation.required"> </small>
                            <ng-container *ngIf="editForm.controls.email?.dirty">
                                <small
                                    class="form-text text-danger"
                                    *ngIf="editForm.controls.email?.errors.maxlength"
                                    translate="entity.validation.maxlength"
                                    [translateParams]="{ max: 255 }"
                                >
                                </small>
                                <small
                                    class="form-text text-danger"
                                    *ngIf="editForm.controls.email?.errors.minlength"
                                    translate="entity.validation.minlength"
                                    [translateParams]="{ requiredLength: 3}"
                                >
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.controls.email?.errors.email" translate="global.messages.validate.email.invalid"> </small>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="page-section">
                <app-audit-info [entity]="externalUser" *ngIf="externalUserExists()"></app-audit-info>
            </div>
            <fieldset *ngIf="externalUserExists() && !isEditMode()" arteAutofocus class="page-section">
                <h3 translate="externalUser.home.favorites"></h3>
                <app-structural-resources-tree
                    (onResourceSelect)="saveFavorite($event)"
                    (onResourceUnselect)="deleteFavorite($event)"
                    [favorites]="favorites"
                ></app-structural-resources-tree>
            </fieldset>
        </form>
        <div *ngIf="externalUserExists() && !isEditMode()" class="page-section">
            <h3 translate="externalUser.home.filters"></h3>
            <div class="page-table-container-fluid">
                <app-filter-table [userId]="userId"></app-filter-table>
            </div>
        </div>
    </div>
</div>
