@import './vendor/index';
@import 'variables';
#edatos-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $primary-navbar-zindex;
    width: 100%;
    height: $primary-navbar-height;
}
