<div class="panel">
    <div class="panel-container">
        <h1>
            <span jhiTranslate="passwordReset.init.home.title"></span>
        </h1>

        <form name="editForm" role="form" (ngSubmit)="requestReset()" #editForm="ngForm">
            <fieldset>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="passwordReset.init.email.label" for="email">Email</label>
                    <ac-help-tooltip [label]="'passwordReset.init.email.tooltip' | translate"></ac-help-tooltip>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="{{ 'passwordReset.init.email.placeholder' | translate }}"
                        [(ngModel)]="resetAccount.email"
                        [minlength]="emailMinLength"
                        [maxlength]="emailMaxLength"
                        #emailInput="ngModel"
                        [pattern]="emailPattern"
                        required
                    />
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required"> </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.pattern" jhiTranslate="global.messages.validate.email.invalid"> </small>
                        <small
                            class="form-text text-danger"
                            [hidden]="!editForm.controls.email?.errors?.minlength"
                            jhiTranslate="entity.validation.minlength"
                            translateValues="{min: '{{emailMinLength}}'}"
                        >
                        </small>
                        <small
                            class="form-text text-danger"
                            [hidden]="!editForm.controls.email?.errors?.maxlength"
                            jhiTranslate="entity.validation.maxlength"
                            translateValues="{max: '{{emailMaxLength}}'}"
                        >
                        </small>
                    </div>
                </div>
            </fieldset>
            <div class="panel-container-buttons">
                <button type="button" [disabled]="isSending" class="btn btn-default" (click)="navigateToLogin()">
                    <span class="fa fa-chevron-left"></span>&nbsp;
                    <span jhiTranslate="passwordReset.init.action.backToLogin"></span>
                </button>
                <button type="submit" [disabled]="editForm.form.invalid || isSending" class="btn btn-primary">
                    <span class="fa fa-paper-plane"></span>&nbsp;
                    <span jhiTranslate="passwordReset.init.action.send"></span>
                </button>
            </div>
        </form>
    </div>
</div>
