<div class="page">
    <div class="page-header"></div>
    <div class="page-body">
        <form class="page-form" id="edit-form" name="editForm" role="form" novalidate (ngSubmit)="requestReset()" #editForm="ngForm" autocomplete="off">
            <fieldset class="page-section" arteAutofocus>
                <div class="row justify-content-md-center">
                    <div class="col-md-3 card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4 mt-1" translate="login.resetPassword.init.title"></h5>
                            <hr />

                            <div class="form-group" [formControlStatus]="editForm.controls.username">
                                <div class="form-row">
                                    <div class="col-md-12 form-input-container errors-on-hover">
                                        <arte-input
                                            id="username"
                                            name="username"
                                            [(ngModel)]="email"
                                            [required]="true"
                                            [minlength]="3"
                                            [maxlength]="255"
                                            [email]="true"
                                            [placeholder]="'login.resetPassword.init.email'"
                                        >
                                        </arte-input>
                                        <div class="form-errors-messages" *hasErrors="let messages">
                                            <ul>
                                                <li *ngFor="let m of messages">{{m}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="form-group panel-container-buttons w-100">
                                    <ng-container>
                                        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary w-100">
                                            <span class="fa fa-paper-plane"></span>
                                            <span translate="login.resetPassword.init.send"></span>
                                        </button>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
