<div class="page">
    <div class="page-header page-header-top">
        <h2 class="page-header-title">
            <span class="page-header-title-text">{{ 'categorySubscriptions.home.title' | translate }}</span>
        </h2>
        <button *ngIf="treeMode === 'view'" class="btn btn-secondary" routerLink="edit">
            <span class="fa fa-pencil"></span>
            <span translate="entity.action.edit"></span>
        </button>
        <button *ngIf="treeMode === 'edit'" class="btn btn-link" routerLink="..">
            <span class="fa fa-arrow-left"></span>
            <span translate="entity.action.back"></span>
        </button>
        <button *ngIf="treeMode === 'edit'" class="btn btn-primary" (click)="save()" routerLink="..">
            <span class="fa fa-save"></span>
            <span translate="entity.action.save"></span>
        </button>
    </div>
    <div class="page-body">
        <div class="mt-4">
            <app-structural-resources-tree [mode]="treeMode" [disabled]="true"></app-structural-resources-tree>
        </div>
    </div>
</div>
