@import './vendor/index';
@import 'variables';

.divider {
    box-sizing: content-box;
}

.app {
    clear: both;
}

/* BEGIN BOOTSTRAP */
.btn {
    &.btn-frameless {
        border: none;
        background: none;
    }
    &:not(.btn-icon-only) {
        .btn-icon,
        .fa {
            margin-right: 5px;
        }
    }
}

.dropdown-actions {
    .dropdown-toggle::before {
        content: none;
    }

    &[placement='bottom-right'] {
        .dropdown-menu {
            margin-top: 5px;
        }
    }
}
.nav-link,
.dropdown-item {
    .fa {
        margin-right: 5px;
    }
}
/* END BOOTSTRAP */

/* BEGIN PRIMENG */
.ac-ui-unfluid {
    .ui-button,
    .ui-buttonset {
        width: auto;
    }
}
.toast-errors {
    z-index: $zindex-sticky + 1;
}
/* END PRIMENG */

html {
    font-size: 16px;
}

body {
    font-family: $font-family-sans-serif;
    &.has-header-fixed {
        padding-top: $navbar-height;
        .app-navbar {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: $zindex-fixed;
        }
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

.break {
    white-space: normal;
    word-break: break-all;
}

button,
.btn:disabled {
    cursor: not-allowed;
}

/* BEGIN TABLE */
table.table-sticky-header {
    & > thead > tr > th {
        position: sticky;
        z-index: 1;
    }
}
.table-has-pointer-rows {
    & > tbody > tr {
        cursor: pointer;
    }
}
.table-layou-fixed {
    table-layout: fixed;
}
/* END TABLE */

/* BEGIN .no-content */
.no-content {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 200px;
    }
    .no-content-text {
        padding: 1rem;
        margin-left: 2rem;
        .title {
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }
}
/* END .no-content */

@import './_page';
@import './_forms';
