<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.creation.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico"/>
</head>
<body>
<p>
    <span th:text="#{email.creation.greeting(${user.name}, ${user.surname1})}"></span>
    <span th:if="${user.surname2}"></span>
</p>
<p th:text="#{email.change_password.text}"></p>
<p th:text="#{email.creation_account.username(${user.email})}"></p>
<p th:text="#{email.creation.text2(${baseUrl})}"></p>
<hr></hr>
<p th:text="#{email.creation_account.lopd}"></p>
</body>
</html>
