<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.creation.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico"/>
</head>
<body>
<p>
    <span th:text="#{email.creation.greeting(${user.name}, ${user.surname1})}"></span>
    <span th:if="${user.surname2}"></span>
</p>
<p th:text="#{email.delete_account.confirm(${user.email})}"></p>
<hr></hr>
<a th:href="@{|${baseUrl}/#/recover-password/change-password?key=${user.resetKey}|}"
   class="button">
                                                                                <span
                                                                                    th:text="#{email.reset.button}"></span>
</a>
</body>
</html>
