@import 'variables';
@import 'mixins';

.page {
    height: 100%;

    &.has-header-fixed {
        .page-header {
            position: fixed;
            top: $navbar-height;
            left: 0;
            right: 0;
        }
        .page-body {
            padding-top: $page-header-height;
        }
    }

    &.has-menu, &.has-menu-animated {
        transition: padding-left .3s ease-in-out;
        &.has-header-fixed .page-header {
            transition: left .3s ease-in-out;
        }
    }

    .menu-toggler {
        height: 36px;
        width: 36px;
        position: absolute;
        left: 0;
        border-radius: 0 50% 50% 0;
        border: 1px solid #dadada;
        padding: 0;
        border-left: 0;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: -1px;
            width: 1px;
            height: 100%;
            background: white;
            top: 0;
        }
    }

    &.menu-is-visible {
        padding-left: $side-menu-width;
        &.has-header-fixed .page-header {
            left: $side-menu-width;
        }

        .side-menu {
            border-right-color: $grey-medium;
        }
    }

    .page-content {
        position: relative;
        z-index: 5;
        background-color: white;
        min-height: 100%;
    }
    .page-header {
        padding-left: $page-padding-left;
        padding-right: $page-padding-right;
        background-color: white;
        box-shadow: 0 1px 4px -1px rgba(0,0,0,.3);
        z-index: $page-header-zindex;
        &.page-header-fixed {
            position: fixed;
            top: $navbar-height;
            left: 0;
            right: 0;
        }
        .page-header-title {
            display: inline-flex;
            align-items: center;
            flex: 1;
            overflow: hidden;
            font-size: 1.8rem;
            margin-bottom: 0;

            .page-header-title-icon {
                margin-right: 12px;
                font-size: 1.2rem;
            }

            .page-header-title-text {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: $page-header-height;
            }
        }

        .page-header-btns {
            display: flex;
            align-items: center;
            .btn {
                margin-right: 5px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
        .back-arrow {
            color: inherit;
            font-size: 1rem;
            padding-left: 0;
            margin-right: 7px;
        }
    }
    .page-header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $page-header-height;
    }

    .page-filters {
        padding: 12px 0;
        .page-filters-btns {
            padding-top: 7px;
            text-align: right;
        }
    }

    
    .page-body {
        padding-left: $page-padding-left;
        padding-right: $page-padding-right;
    }
    .page-section {
        margin-top: 1.4rem;
        h3 {
            font-size: 1.3rem;
        }
    }


    .page-table-container-fluid {
        margin-left: -$page-padding-left;
        margin-right: -$page-padding-right;
        width: inherit;
        min-width: 100%;

        .page-table {
            & > thead > tr > th,
            & > tbody > tr > td {
                &:first-child {
                    padding-left: $page-padding-left;
                }
                &:last-child {
                    padding-right: $page-padding-right;
                }
            }
        }
        .table-count {
            padding-left: $page-padding-left;
        }
        
    }

    .page-table {
        & > thead > tr > th,
        & > tbody > tr > td {
            border-bottom: 1px solid;
            border-color: #e0e0e0;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        & > thead > tr > th {
            font-size: .8rem;
            text-transform: uppercase;
            background-color: #f8f8f8;
            color: #444;
        }
    }
    .table-count {
        display: flex;
        align-items: center;
        height: 100%;
    }

}

@include media-breakpoint-down(sm) {
    $page-padding-left: 15px;
    $page-padding-right: 15px;
    .page {
        &.menu-is-visible {
            padding-left: 0;
            &.has-header-fixed .page-header {
                left: 0;
            }
        }
        .page-header {
            padding-left: $page-padding-left;
            padding-right: $page-padding-right;
        }
        .page-body {
            padding-left: $page-padding-left;
            padding-right: $page-padding-right;
        }
        .page-table-container-fluid {
            margin-left: -$page-padding-left;
            margin-right: -$page-padding-right;
            .page-table {
                & > thead > tr > th,
                & > tbody > tr > td {
                    &:first-child {
                        padding-left: $page-padding-left;
                    }
                    &:last-child {
                        padding-right: $page-padding-right;
                    }
                }
            }
            .table-count {
                padding-left: $page-padding-left;
            }
        }
    }
}