<div class="page">
    <div class="page-header"></div>
    <div class="page-body">
        <form
            class="page-form"
            id="edit-form"
            name="editForm"
            role="form"
            id="editForm"
            (ngSubmit)="save()"
            #editForm="ngForm"
            novalidate
            autocomplete="off"
            [passwordMatch]="['newPassword', 'confirmPassword']"
        >
            <fieldset class="page-section" arteAutofocus>
                <div class="row justify-content-md-center">
                    <div class="col-md-3 card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4 mt-1" translate="login.resetPassword.finish.title"></h5>
                            <hr />

                            <div class="form-group" [formControlStatus]="editForm.controls.newPassword">
                                <div class="form-row">
                                    <div class="col-md-12 form-input-container errors-on-hover">
                                        <arte-input
                                            type="password"
                                            id="newPassword"
                                            name="newPassword"
                                            [(ngModel)]="keyAndPassword.newPassword"
                                            [required]="true"
                                            [minlength]="8"
                                            [placeholder]="'userManagement.password.new'"
                                        >
                                        </arte-input>
                                        <div class="form-errors-messages" *hasErrors="let messages">
                                            <ul>
                                                <li *ngFor="let m of messages">{{m}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [formControlStatus]="editForm.controls.confirmPassword">
                                <div class="form-row">
                                    <div class="col-md-12 form-input-container errors-on-hover">
                                        <arte-input
                                            type="password"
                                            id="confirmPassword"
                                            name="confirmPassword"
                                            [(ngModel)]="confirmPassword"
                                            [required]="true"
                                            [placeholder]="'userManagement.password.confirmNew'"
                                        >
                                        </arte-input>
                                        <div class="form-errors-messages" *hasErrors="let messages">
                                            <ul>
                                                <li *ngFor="let m of messages">{{m}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="form-group panel-container-buttons w-100">
                                    <ng-container>
                                        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary w-100">
                                            <span class="fa fa-save"></span>
                                            <span translate="entity.action.save"></span>
                                        </button>
                                    </ng-container>
                                    <ng-container>
                                        <button type="button" [disabled]="isSaving" class="btn btn-default w-100" (click)="navigateToLogin()">
                                            <span class="fa fa-ban"></span>
                                            <span translate="entity.action.cancel"></span>
                                        </button>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
