<div class="panel">
    <div class="panel-container">
        <h1>
            <span jhiTranslate="passwordReset.finish.home.title"></span>
        </h1>
        <form name="editForm" role="form" (ngSubmit)="finishReset()" #editForm="ngForm">
            <fieldset>
                <div class="form-group">
                    <label class="form-control-label" for="password" jhiTranslate="passwordReset.finish.newPassword.label"></label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        #passwordInput="ngModel"
                        placeholder="{{ 'passwordReset.finish.newPassword.placeholder' | translate }}"
                        [(ngModel)]="keyAndPassword.newPassword"
                        [minlength]="passwordMinLength"
                        [maxlength]="passwordMaxLength"
                        required
                    />
                    <div [hidden]="!(editForm.controls.password?.dirty && editForm.controls.password?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.password?.errors?.required" jhiTranslate="entity.validation.required"> </small>
                        <small
                            class="form-text text-danger"
                            [hidden]="!editForm.controls.password?.errors?.minlength"
                            jhiTranslate="entity.validation.minlength"
                            translateValues="{min: '{{passwordMinLength}}'}"
                        >
                        </small>
                        <small
                            class="form-text text-danger"
                            [hidden]="!editForm.controls.password?.errors?.maxlength"
                            jhiTranslate="entity.validation.maxlength"
                            translateValues="{max: '{{passwordMaxLength}}'}"
                        >
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="keyAndPassword.newPassword"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="passwordReset.finish.newPasswordConfirm.label"></label>
                    <input
                        type="password"
                        class="form-control"
                        id="confirmPassword"
                        name="confirmPassword"
                        #confirmPasswordInput="ngModel"
                        placeholder="{{ 'passwordReset.finish.newPasswordConfirm.placeholder' | translate }}"
                        [(ngModel)]="confirmPassword"
                        [minlength]="passwordMinLength"
                        [maxlength]="passwordMaxLength"
                        required
                    />
                    <div [hidden]="!(editForm.controls.confirmPassword?.dirty && editForm.controls.confirmPassword?.invalid!)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.confirmPassword?.errors?.required" jhiTranslate="entity.validation.required"> </small>
                        <small
                            class="form-text text-danger"
                            [hidden]="!editForm.controls.confirmPassword?.errors?.minlength"
                            jhiTranslate="entity.validation.minlength"
                            translateValues="{min: '{{passwordMinLength}}'}"
                        >
                        </small>
                        <small
                            class="form-text text-danger"
                            [hidden]="!editForm.controls.confirmPassword?.errors?.maxlength"
                            jhiTranslate="entity.validation.maxlength"
                            translateValues="{max: '{{passwordMaxLength}}'}"
                        >
                        </small>
                    </div>
                </div>
            </fieldset>
            <div class="panel-container-buttons">
                <button type="button" [disabled]="isSaving" class="btn btn-default" (click)="navigateToLogin()">
                    <span class="fa fa-ban"></span>&nbsp;
                    <span jhiTranslate="entity.action.cancel"></span>
                </button>
                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;
                    <span jhiTranslate="entity.action.save"></span>
                </button>
            </div>
        </form>
    </div>
</div>
