.switch-locale-external-content,
.switch-locale-external-content * {
    max-width: 20em;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 0em 2em;
    margin-top: -1.5em;
    float: right;
}

.switch-locale-external-content ul {
    list-style: none;
    margin: 0;
}

.switch-locale-external-content tr {
    vertical-align: top;
}

/* Begin Language selector */
.dropdown-language {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    background-color: white;
    cursor: pointer;
    padding: 0 !important;
}
:host ::ng-deep .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    padding-right: 4em;
}
:host ::ng-deep .ui-dropdown .ui-dropdown-label {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-weight: 400;
}

:host ::ng-deep .ui-dropdown {
    min-width: 8em;
    border: none;
}

:host ::ng-deep body .ui-inputtext {
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.429em;
    transition: border-color 0.2s, box-shadow 0.2s;
    appearance: none;
}
:host ::ng-deep body .ui-corner-all {
    border-radius: 3px;
}

:host ::ng-deep .ui-inputtext {
    margin: 0;
    outline: medium none;
    padding: .25em;
    background-image: none;
}

:host ::ng-deep ul.ui-dropdown-items.ui-dropdown-list.ui-widget-content.ui-widget.ui-corner-all.ui-helper-reset{
    margin: 0;
}


/* End Language selector */