:host ::ng-deep {
    p-table {
        .search-wrapper {
            display: flex;

            input {
                width: 100%;
            }

            input:focus[pInputText] {
                box-shadow: none;
            }
        }

        .ui-table-thead > tr > th {
            border: 0 none;
            text-align: left;

            &.ui-filter-column {
                border-top: 1px solid #c8c8c8;
            }

            &:first-child {
                width: 3em;
                text-align: center;
            }
        }

        .ui-table-tbody > tr > td {
            border: 0 none;
            cursor: auto;

            &:first-child {
                width: 3em;
                text-align: center;
            }
        }

        .ui-table-summary {
            background-color: white;
            text-align: left;
            overflow-y: auto;
            max-height: 20vh;
        }

        .summary-title {
            font-weight: bold;
            margin-bottom: 0.6em;
        }

        .summary-item {
            font-weight: normal;
        }

        .text-secondary {
            color: #a5a5a5;
        }

        .font-italic {
            font-style: italic;
        }

        tr.disabled > td {
            @extend .text-secondary;
            background-color: #f8f8f8;
        }
    }
}
