:host ::ng-deep {
    p-table {
        .ui-table-thead > tr > th,
        .ui-table-tbody > tr > td {
            padding: 0.5em;

            &:first-child {
                width: 4em;
                text-align: right;
                .disabled-tooltip {
                    margin-right: 0.5em;
                }
            }
        }

        .search-wrapper {
            display: flex;

            input {
                width: 100%;
            }

            input:focus[pInputText] {
                box-shadow: none;
            }
        }

        .ui-table-thead > tr > th {
            border: 0 none;
            text-align: left;

            &.ui-filter-column {
                border-top: 1px solid #c8c8c8;
            }
        }

        .ui-table-tbody > tr > td {
            border: 0 none;
            cursor: auto;
        }

        .ui-table-summary {
            background-color: white;
            text-align: left;
            overflow-y: auto;
            max-height: 20vh;
        }

        .summary-title {
            font-weight: bold;
            margin-bottom: 0.6em;
        }

        .summary-item {
            font-weight: normal;
        }

        .text-secondary {
            color: #a5a5a5;
        }

        .font-italic {
            font-style: italic;
        }

        tr.disabled {
            @extend .text-secondary;
        }
    }
}
