<div class="page has-menu has-header-fixed" [class.menu-is-visible]="sideMenuRef.visible">
    <arte-side-menu [parent]="instance" #sideMenuRef></arte-side-menu>

    <div class="page-content" *ngIf="allConfiguration && configuration" #titlesContainer>
        <div class="page-header page-header-top has-filters" #pageHeaderRef>
            <button class="btn menu-toggler d-none d-md-block" (click)="sideMenuRef.visible = !sideMenuRef.visible">
                <i class="fa" [ngClass]="sideMenuRef.visible ? 'fa-times' : 'fa-bars'" aria-hidden="true"></i>
            </button>
            <h2 class="page-header-title">
                <span class="page-header-title-text" translate="configuration.title"></span>
            </h2>
            <button class="btn btn-outline-dark btn-icon-only" (click)="hiddenFilters = !hiddenFilters">
                <i class="fa fa-filter mr-1" aria-hidden="true"></i>
                <i class="fa" [ngClass]="{'fa-angle-down': hiddenFilters, 'fa-angle-up': !hiddenFilters}"
                   aria-hidden="true"></i>
            </button>

            <div class="page-filters entity-search" [hidden]="hiddenFilters">
                <div class="entity-search-field">
                    <label translate="configuration.filter"></label>
                    <arte-input [type]="'text'" [name]="'filter'" [(ngModel)]="filter"></arte-input>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="page-section">
                <h3 translate="configuration.spring"></h3>
                <div class="page-table-container-fluid">
                    <table class="page-table table table-hover table-layou-fixed " arteStickyTableHeader [stickTo]="pageHeaderRef">
                        <thead>
                            <tr>
                                <th style="width: 20%" (click)="orderProp = 'prefix'; reverse=!reverse"><span
                                        translate="configuration.table.prefix"></span></th>
                                <th style="width: 80%" (click)="orderProp = 'properties'; reverse=!reverse"><span
                                        translate="configuration.table.properties"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let entry of (configuration | filterBy:['prefix']:filter | orderBy: (reverse ? '' : '-' ) + orderProp)">
                                <td><span class="break">{{entry.prefix}}</span></td>
                                <td>
                                    <div class="row" *ngFor="let key of keys(entry.properties)">
                                        <div class="col-4">{{key}}</div>
                                        <div class="col-8 text-right">
                                            <span
                                                class="badge badge-default text-wrap text-right">{{entry.properties[key] | json}}</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <ng-container *ngFor="let key of keys(allConfiguration)">
                <div class="page-section">
                    <h3><span>{{key}}</span></h3>
                    <div class="page-table-container-fluid">
                        <table class="page-table table table-sm table-hover" arteStickyTableHeader [stickTo]="pageHeaderRef">
                            <thead>
                                <tr>
                                    <th style="width: 20%"><span translate="configuration.table.prefix"></span></th>
                                    <th class="text-right" style="width: 80%"><span
                                            translate="configuration.table.properties"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of (allConfiguration[key] | filterBy:['key']:filter)">
                                    <td class="break">{{item.key}}</td>
                                    <td class="break text-right">
                                        <span class="badge badge-default text-wrap text-right">{{item.val}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
