<div class="language-input-list">
    <div *ngFor="let locale of locales" class="single-language-input">
        <label *ngIf="isEditMode || value.getLocalisedLabel(locale)" [for]="locale">{{'enum.localeToLanguage.' + locale.toUpperCase() | translate: {default: locale} }}</label>
        <input
            *ngIf="isEditMode || value.getLocalisedLabel(locale)"
            type="text"
            [value]="mappedValue[locale]"
            [class.readonly-input]="!isEditMode"
            [readonly]="!isEditMode"
            [attr.disabled]="isDisabled ? true : null"
            (input)="onEditorChange($event, locale)"
            (focus)="onEditorTouched($event)"
        />
    </div>
</div>
