<div class="page">
    <div class="page-header">
        <div class="page-header-top">
            <h2 class="page-header-title">
                <span class="page-header-title-text" [ngSwitch]="true">
                    <ng-container *ngSwitchCase="!inEditMode">{{ ('favorite.name' | translate) + ' ' + favorite.id }}</ng-container>
                    <ng-container *ngSwitchCase="inEditMode && !favorite.id">{{ 'favorite.form.new' | translate }}</ng-container>
                    <ng-container *ngSwitchDefault>{{ ('favorite.form.edit' | translate) + ' ' + favorite.id  }}</ng-container>
                </span>
            </h2>

            <button class="btn btn-dark mr-2" routerLink=".." [disabled]="isSaving || isLoading">
                <span class="fa fa-arrow-left"></span>
                <span translate="favorite.form.goBack"></span>
            </button>

            <button *ngIf="inEditMode && favorite.id" class="btn btn-warning mr-2 d-flex align-items-center" (click)="cancel()" [disabled]="isSaving || isLoading">
                <arte-spinner class="spinner-btn" *ngIf="isLoading" aria-hidden="true"></arte-spinner>
                <span *ngIf="!isLoading" class="fa fa-times"></span>
                <span translate="favorite.form.cancel"></span>
            </button>

            <button *ngIf="!inEditMode" class="btn btn-primary mr-2" (click)="edit()">
                <span class="fa fa-pencil-square-o"></span>
                <span translate="favorite.form.edit"></span>
            </button>

            <button *ngIf="inEditMode" class="btn btn-primary d-flex align-items-center" type="button" (click)="submit()" [disabled]="isSaving || isLoading || !favoriteForm.form.valid">
                <arte-spinner class="spinner-btn" *ngIf="isSaving" aria-hidden="true"></arte-spinner>
                <span *ngIf="!isSaving" class="fa fa-save"></span>
                <span translate="favorite.form.save"></span>
            </button>
        </div>
    </div>
    <div class="page-body">
        <form class="page-form" id="favorite-form" name="favoriteForm" role="form" novalidate #favoriteForm="ngForm" autocomplete="off">
            <fieldset class="page-section" [disabled]="!inEditMode || isLoading" arteAutofocus>
                <legend class="pt-3">{{ "favorite.form.legend" | translate }}</legend>
                <div class="row">
                    <div class="form-group form-group-inline col-md-6 required" [formControlStatus]="favoriteForm.controls.email">
                        <div class="form-row">
                            <label class="form-label col-md-4" for="email">{{ "favorite.entity.email" | translate }}</label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-input id="email" name="email" [(ngModel)]="favorite.email" [email]="true" [maxlength]="255" [required]="true"></arte-input>
                                <div class="form-errors-messages" *hasErrors="let messages">
                                    <span *ngFor="let m of messages">{{m}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
