<div class="page-filters">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label translate="externalUser.filters.labels.fullname"></label>
            <arte-input
                [(ngModel)]="filters.fullname"
                [attr.aria-label]="'externalUser.filters.placeholders.fullname' | translate"
                name="name"
                placeholder="externalUser.filters.placeholders.fullname"
                (keyup)="filter()"
            ></arte-input>
        </div>
        <div class="form-group col-md-2">
            <label translate="externalUser.filters.labels.categories"></label>
            <div class="p-grid ui-fluid">
                <div class="ui-inputgroup">
                    <button pButton type="button" icon="pi pi-plus" class="ui-button-info" (click)="openCategoryModal()"></button>
                    <input id="selectedCategoriesText" type="text" pInputText [ngModel]="categoriesSelectedInfo()" readonly>
                    <button pButton type="button" icon="pi pi-times" class="ui-button-secondary" (click)="resetCategories()"></button> 
                </div>
            </div>
            <p-dialog *ngIf="isSelectingCategory()" [visible]="true" [focusOnShow]="true" [modal]="true"
                [dismissableMask]="true" [header]="'externalUser.filters.labels.categories' | translate" [resizable]="false"
                [style]="{width: '80vw'}" [contentStyle]="{padding: '1.5em 2em', overflow: 'visible', 'max-height': '50vh', 'overflow-y': 'auto'}" styleClass="ui-fluid" appendTo="body"
                (visibleChange)="closeCategoryModal()">
                <app-structural-resources-tree [disabled]="false" mode="simpleSelect" [preselectedResources]="selectedCategoryResources"></app-structural-resources-tree>
                <p-footer>
                    <button type="button" class="btn btn-primary" (click)="selectCategories()">
                        <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                        <span translate="entity.action.select"></span>
                    </button>
                </p-footer>
            </p-dialog>
        </div>
        
        <div class="form-group col-md-3">
            <label translate="externalUser.filters.labels.language"></label>
            <arte-autocomplete-enum
                (onSelect)="filter()"
                (onUnselect)="filter()"
                [(ngModel)]="filters.languages"
                [attr.aria-label]="'externalUser.filters.name.placeholders.language' | translate"
                [multiple]="true"
                [suggestionsEnum]="languageEnum"
                [translationPath]="'externalUser.languageEnum.'"
                name="language"
            ></arte-autocomplete-enum>
        </div>
        <div class="col-md-2 ac-ui-unfluid">
            <label translate="externalUser.home.includeDeleted"></label>
            <div class=""> <!-- d-md-inline-block ml-3 -->
                <arte-tri-input-switch [(ngModel)]="filters.includeDeleted" (onChange)="filter()" [required]="true"></arte-tri-input-switch>
            </div>
        </div>
        <div class="page-filters-btns col-md-2">
            <label class="w-100">&nbsp;</label>
            <button class="btn btn-light" (click)="resetFilters();">
                <i class="btn-icon fa fa-times"></i>
                <span translate="entity.action.filtersReset"></span>
            </button>
        </div>
    </div>   
</div>
