<div class="page">
    <div class="page-header"></div>
    <div class="page-body">
        <form class="page-form" id="edit-form" name="editForm" role="form" novalidate (ngSubmit)="login()" #editForm="ngForm" autocomplete="off">
            <fieldset class="page-section" arteAutofocus>
                <div class="row justify-content-md-center">
                    <div class="col-md-3 card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4 mt-1" translate="login.home.title"></h5>
                            <hr />

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12 form-input-container errors-on-hover">
                                        <arte-input
                                            id="username"
                                            name="username"
                                            [(ngModel)]="credentials.login"
                                            [minlength]="3"
                                            [maxlength]="255"
                                            [email]="true"
                                            [placeholder]="'login.form.username'"
                                        >
                                        </arte-input>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12 form-input-container errors-on-hover">
                                        <arte-input
                                            type="password"
                                            id="password"
                                            name="password"
                                            [(ngModel)]="credentials.password"
                                            [maxlength]="255"
                                            [placeholder]="'login.form.password'"
                                        ></arte-input>
                                    </div>
                                </div>
                            </div>
                            <div #captchaContainer></div>

                            <div class="row justify-content-md-center">
                                <div class="form-group panel-container-buttons w-100">
                                    <ng-container>
                                        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary w-100">
                                            <span class="fa fa-sign-in"></span>
                                            <span translate="login.action.signin"></span>
                                        </button>
                                    </ng-container>
                                    <ng-container>
                                        <button type="button" class="btn btn-default w-100" (click)="navigateToSignup()" translate="login.action.signup">
                                            <span class="fa fa-user-plus"></span>
                                            <span translate="login.action.signup"></span>
                                        </button>
                                    </ng-container>
                                    <ng-container>
                                        <button type="button" class="btn btn-default w-100" (click)="navigateToResetPassword()" translate="login.action.resetPassword">
                                            <small><span translate="login.action.resetPassword"></span></small>
                                        </button>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
