<div class="page">
    <div class="page-header">
        <div class="page-header-top">
            <h2 class="page-header-title">
                <span class="page-header-title-text" translate="signup.home.title"></span>
            </h2>
            <ng-container>
                <button type="submit" form="edit-form" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-floppy-o"></span>
                    <span translate="entity.action.save"></span>
                </button>
            </ng-container>
            <ng-container>
                <button type="submit" class="btn btn-default" (click)="navigateToLogin()">
                    <span class="fa fa-sign-in"></span>
                    <span translate="login.action.signin"></span>
                </button>
            </ng-container>
        </div>
    </div>
    <div class="page-body">
        <form
            class="page-form"
            id="edit-form"
            name="editForm"
            role="form"
            novalidate
            (ngSubmit)="save()"
            #editForm="ngForm"
            autocomplete="off"
            [passwordMatch]="['password', 'confirmPassword']"
        >
            <fieldset class="page-section" arteAutofocus>
                <div class="row">
                    <div class="form-group form-group-inline col-md-6">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.treatment"></label>
                            <div class="col-md-8">
                                <arte-autocomplete-enum
                                    name="treatment"
                                    [multiple]="false"
                                    [(ngModel)]="user.treatment"
                                    [suggestionsEnum]="treatmentEnum"
                                    [translationPath]="'treatment.'"
                                >
                                </arte-autocomplete-enum>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6 required" [formControlStatus]="editForm.controls.language">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.language" for="language"></label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-autocomplete-enum
                                    id="language"
                                    name="language"
                                    [multiple]="false"
                                    [(ngModel)]="user.language"
                                    [suggestionsEnum]="languageEnum"
                                    [translationPath]="'language.'"
                                    [required]="true"
                                >
                                </arte-autocomplete-enum>
                                <div class="form-errors-messages" *hasErrors="let messages">
                                    <span *ngFor="let m of messages">{{m}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6 required" [formControlStatus]="editForm.controls.name">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.name" for="name"></label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-input id="name" name="name" [(ngModel)]="user.name" [maxlength]="255" [required]="true"></arte-input>
                                <div class="form-errors-messages" *hasErrors="let messages">
                                    <span *ngFor="let m of messages">{{m}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6 required" [formControlStatus]="editForm.controls.surname1">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.surname1" for="surname1"></label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-input id="surname1" name="surname1" [(ngModel)]="user.surname1" [maxlength]="255" [required]="true"></arte-input>
                                <div class="form-errors-messages" *hasErrors="let messages">
                                    <span *ngFor="let m of messages">{{m}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6 required" [formControlStatus]="editForm.controls.surname2">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.surname2" for="surname2"></label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-input id="surname2" name="surname2" [(ngModel)]="user.surname2" [maxlength]="255" [required]="true"></arte-input>
                                <div class="form-errors-messages" *hasErrors="let messages">
                                    <span *ngFor="let m of messages">{{m}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6"></div>

                    <div class="form-group form-group-inline col-md-6" [formControlStatus]="editForm.controls.organism">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.organism" for="organism"></label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-input name="organism" [(ngModel)]="user.organism" [maxlength]="255"></arte-input>
                                <div class="form-errors-messages" *hasErrors="let messages">
                                    <span *ngFor="let m of messages">{{m}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6" [formControlStatus]="editForm.controls.phoneNumber">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.phoneNumber" for="phoneNumber"></label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-input id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" [maxlength]="50" [pattern]="'^[0-9]*$'"></arte-input>
                                <div class="form-errors-messages" *hasErrors="let messages">
                                    <span *ngFor="let m of messages">{{m}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group-inline col-md-6 required" [formControlStatus]="editForm.controls.email">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.email" for="email"></label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-input id="email" name="email" [(ngModel)]="user.email" [required]="true" [minlength]="3" [maxlength]="255" [email]="true"> </arte-input>
                                <div class="form-errors-messages" *hasErrors="let messages; let errors=errors">
                                    <ul>
                                        <li *ngFor="let m of messages">{{m}}</li>
                                        <li *ngIf="errors.email" translate="global.messages.validate.email.invalid"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6"></div>
                    <div class="form-group form-group-inline col-md-6 required" [formControlStatus]="editForm.controls.password">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.password" for="password"></label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-input type="password" id="password" name="password" [(ngModel)]="user.password" [required]="true" [minlength]="8"> </arte-input>
                                <div class="form-errors-messages" *hasErrors="let messages; let errors=errors">
                                    <ul>
                                        <li *ngFor="let m of messages">{{m}}</li>
                                        <li *ngIf="editForm.controls.password?.errors.password" translate="global.messages.validate.password.invalid"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-inline col-md-6 required" [formControlStatus]="editForm.controls.confirmPassword">
                        <div class="form-row">
                            <label class="form-label col-md-4" translate="signup.form.confirmPassword" for="confirmPassword"></label>
                            <div class="col-md-8 form-input-container errors-on-hover">
                                <arte-input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" [required]="true"> </arte-input>
                                <div class="form-errors-messages" *hasErrors="let messages; let errors=errors">
                                    <ul>
                                        <li *ngFor="let m of messages">{{m}}</li>
                                        <li *ngIf="editForm.controls.confirmPassword?.errors.passwordMatch" translate="global.messages.validate.password.notMatch"></li>
                                        <li *ngIf="editForm.passwordMatch?.errors.passwordMatch" translate="global.messages.validation.passwordDoNotMatch.invalid"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
