<div class="page">
    <div class="page-header">
        <div class="page-header-top">
            <h2 class="page-header-title">
                <span class="page-header-title-text" translate="family.home.title"></span>
            </h2>
            <div>
                <button class="btn btn-primary" [routerLink]="['../family', 'new']">
                    <span class="fa fa-plus"></span>
                    <span translate="family.home.createLabel"></span>
                </button>
            </div>
        </div>
        <ac-family-search [filters]="filters"></ac-family-search>
    </div>
    <div class="page-body">
        <arte-spinner *ngIf="!families"></arte-spinner>
        <ng-container *ngIf="families">
            <ng-container *ngIf="families.length > 0;else emptyList">
                <div class="page-table-container-fluid">
                    <arte-table
                        [columns]="columns"
                        [value]="families"
                        [rows]="itemsPerPage"
                        [totalRecords]="totalItems"
                        tableStyleClass="page-table table-has-pointer-rows"
                        (onLazyLoad)="loadData($event)">

                        <ng-template pTemplate="body" let-family>
                            <tr [routerLink]="['../family', family.id]">
                                <td>{{family.code}}</td>
                                <td>{{getText(family.title)}}</td>
                            </tr>
                        </ng-template>
                    </arte-table>
                </div>
            </ng-container>
            <ng-template #emptyList>
                <arte-entity-list-empty></arte-entity-list-empty>
            </ng-template>
        </ng-container>
    </div>
</div>
