<div class="page">
    
    <div class="page-header page-header-top">
        <h2 class="page-header-title">
            <span class="page-header-title-text" translate="dataProtectionPolicy.home.title"></span>
        </h2>
        <div class="page-header-btns">
            <button type="button" class="btn btn-secondary" routerLink="..">
                <span class="fa fa-arrow-left"></span> 
                <span translate="entity.action.back"></span>
            </button>
        </div>
    </div>
    <div class="page-body">
        <form class="page-form page-section" id="data-protection-policy-form" #dataProtectionPolicyForm="ngForm">
            <app-multi-language-editor [(ngModel)]="dataProtectionPolicy" name="dataProtectionPolicy" [locales]="locales" [isEditMode]="isEditMode"></app-multi-language-editor>
        </form>
    </div>
</div>