<div class="page">
    
    <div class="page-header page-header-top">
        <h2 class="page-header-title">
            <span class="page-header-title-text" translate="dataProtectionPolicy.home.title"></span>
        </h2>
    </div>
    <div class="page-body">
        <form class="page-form page-section" id="data-protection-policy-form" #dataProtectionPolicyForm="ngForm">
            <app-multi-language-editor [(ngModel)]="dataProtectionPolicy.value" name="dataProtectionPolicyValue" [locales]="locales" [isEditMode]="isEditMode"></app-multi-language-editor>
        </form>
    </div>
</div>