<div *ngFor="let locale of locales" class="single-language-editor">
    <div *ngIf="isEditMode || value.getLocalisedLabel(locale)">
        <h3 [translate]="'localeToLanguage.' + locale.toLowerCase()"></h3>
        <p-editor [id]="locale" (onTextChange)="onEditorChange($event, locale)" (onInit)="onEditorInit($event, locale)" (onSelectionChange)="onEditorTouched($event)"
            [style]="{'height':'500px'}" [modules]="isEditMode ? null : { toolbar: false }" [class.no-toolbar]="!isEditMode" scrollingContainer=".scrolling-editor">
        </p-editor>
    </div>
</div>